<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  {{robots_meta}}
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:image" content="{{root}}assets/img/svo-logo-512.png">
  <meta name="theme-color" content="#1B3D8C">
  <link rel="icon" href="{{root}}assets/img/favicon-64.png" type="image/png">
  <link rel="apple-touch-icon" href="{{root}}assets/img/apple-touch-icon.png">
  <link rel="stylesheet" href="{{root}}assets/css/fonts.css">
  <link rel="stylesheet" href="{{root}}assets/css/style.css">
</head>
<body data-theme="{{theme}}" data-root="{{root}}">
<a class="skip" href="#main">Zum Inhalt springen</a>

<header class="site-header">
  <div class="wrap header-bar">
    <a class="brand" href="{{root}}index.html" aria-label="SV 1919 Osterburken – Startseite">
      <img src="{{root}}assets/img/svo-logo.png" alt="" width="48" height="48">
      <span>SV Osterburken<small>seit 1919</small></span>
    </a>
    <nav id="site-nav" aria-label="Hauptnavigation">
      <ul class="menu">
        <li class="menu__item" data-nav="fussball">
          <a href="{{root}}fussball.html">Fußball</a>
          <ul class="sub">
            <li><a href="{{root}}fussball.html#teams"><img class="art" src="{{root}}assets/img/iconsflat/jersey.svg" alt="" width="28" height="28">Teams &amp; Trainingszeiten</a></li>
            <li><a href="{{root}}schiedsrichter.html"><img class="art" src="{{root}}assets/img/iconsflat/whistle.svg" alt="" width="28" height="28">Schiedsrichter</a></li>
            <li><a href="{{root}}partnerschaften.html"><img class="art" src="{{root}}assets/img/iconsflat/handshake.svg" alt="" width="28" height="28">Partnerschaften</a></li>
          </ul>
        </li>
        <li class="menu__item" data-nav="turnen">
          <a href="{{root}}turnen.html">Turnen</a>
          <ul class="sub">
            <li><a href="{{root}}turnen-kinder.html"><img class="art" src="{{root}}assets/img/iconsflat/child.svg" alt="" width="28" height="28">Kinder &amp; Jugendliche</a></li>
            <li><a href="{{root}}turnen-erwachsene.html"><img class="art" src="{{root}}assets/img/iconsflat/stretch.svg" alt="" width="28" height="28">Erwachsene &amp; Senioren</a></li>
            <li><a href="{{root}}sportabzeichen.html"><img class="art" src="{{root}}assets/img/iconsflat/medal.svg" alt="" width="28" height="28">Deutsches Sportabzeichen</a></li>
          </ul>
        </li>
        <li class="menu__item" data-nav="fitness">
          <a href="{{root}}fitness.html">Fitness</a>
          <ul class="sub">
            <li><a href="{{root}}fitness.html#bodycombat"><img class="art" src="{{root}}assets/img/iconsflat/glove.svg" alt="" width="28" height="28">Bodycombat</a></li>
            <li><a href="{{root}}fitness.html#zumba"><img class="art" src="{{root}}assets/img/iconsflat/music.svg" alt="" width="28" height="28">Zumba</a></li>
          </ul>
        </li>
        <li class="menu__item" data-nav="verein">
          <a href="{{root}}verein.html">Verein</a>
          <ul class="sub">
            <li><a href="{{root}}verein.html#vorstand"><img class="art" src="{{root}}assets/img/iconsflat/team.svg" alt="" width="28" height="28">Vorstandschaft</a></li>
            <li><a href="{{root}}verein.html#mitglied"><img class="art" src="{{root}}assets/img/iconsflat/heart.svg" alt="" width="28" height="28">Mitglied werden</a></li>
            <li><a href="{{root}}downloads.html"><img class="art" src="{{root}}assets/img/iconsflat/clipboard.svg" alt="" width="28" height="28">Formulare &amp; Downloads</a></li>
            <li><a href="{{root}}kinderschutz.html"><img class="art" src="{{root}}assets/img/iconsflat/shield.svg" alt="" width="28" height="28">Kinderschutz</a></li>
            <li><a href="{{root}}sponsoren.html"><img class="art" src="{{root}}assets/img/iconsflat/trophy.svg" alt="" width="28" height="28">Unsere Sponsoren</a></li>
          </ul>
        </li>
        <li class="menu__item" data-nav="aktuelles"><a href="{{root}}aktuelles.html">Aktuelles</a></li>
        <li class="menu__item" data-nav="kontakt"><a href="{{root}}kontakt.html">Kontakt</a></li>
      </ul>
    </nav>
    <a class="btn btn--sm header-cta" href="{{root}}index.html#woche"><svg class="i"><use href="{{root}}assets/img/icons.svg#calendar"/></svg>Trainingszeiten</a>
    <button class="nav-toggle" type="button" aria-expanded="false" aria-controls="site-nav" aria-label="Menü öffnen">
      <svg class="i i--open"><use href="{{root}}assets/img/icons.svg#menu"/></svg>
      <svg class="i i--close"><use href="{{root}}assets/img/icons.svg#close"/></svg>
    </button>
  </div>
</header>

<main id="main">
